:root {
  --text-color: #292929;
  --link-color: #292929;
  --font-noto-sans: "Noto Sans JP", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}

html,
body {
  height: 100%;
}

a {
  transition: 0.3s ease;
  color: var(--link-color);
}
a:hover {
  opacity: 0.7;
}

body {
  font-size: 14px;
  letter-spacing: 0.065em;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  padding: 20px;
  width: 100%;
}
.header-logo {
  margin: 0;
}
body.profile .header-logo path, body.works .header-logo path {
  fill: var(--text-color);
}
.header-button {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  width: 75px;
  height: 75px;
  background-color: transparent;
  color: #000;
}
.header-button span {
  margin: 0 auto;
  width: 24px;
  height: 3px;
  background-color: var(--text-color);
  transition: 0.3s ease;
  position: relative;
}
.header-button span::before,
.header-button span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  background-color: inherit;
}
.header-button span::before {
  top: -9px;
}
.header-button span::after {
  top: 9px;
}
body.open .header-button {
  z-index: 30;
}
body.open .header-button span {
  width: 30px;
  background-color: transparent;
}
body.open .header-button span::before,
body.open .header-button span::after {
  top: 0;
  background-color: var(--text-color);
}
body.open .header-button span::before {
  transform: rotate(45deg);
}
body.open .header-button span::after {
  transform: rotate(-45deg);
}
body.top .header-button span {
  background-color: #fff;
}
.header-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: var(--font-noto-sans);
  font-size: 20px;
  font-weight: 900;
  transition: 0.3s ease;
  transform: translateX(100%);
}
body.open .header-nav {
  transform: translateX(0);
}
.header-nav-item:nth-child(n+2) {
  margin-top: 2em;
}
.header-nav-item a {
  color: #fff;
  text-shadow: 0 0 6px #000;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 30px;
  }
  .header-logo svg {
    width: 350px;
  }
  .header-button {
    display: none;
  }
  .header-nav {
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .header-nav-item:nth-child(n+2) {
    margin-top: 0;
    margin-left: 2em;
  }
}

.footer {
  padding: 1em 0;
  width: 100%;
}
.top .footer, .profile .footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer-txt {
  font-size: 12px;
  text-align: center;
}

body.top,
body.profile {
  background: url(../img/bg_01.jpg) no-repeat center center/cover;
  background-size: cover;
}

body.top,
body.top a {
  color: #fff;
  text-shadow: 0 0 6px #000;
}

.article-title {
  margin-bottom: 0.5em;
  font-family: var(--font-noto-sans);
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
}
.article-title_sub {
  margin-bottom: 1em;
  font-size: 21px;
  text-align: center;
}
.article-title_sub span {
  display: inline-block;
  margin-left: 1em;
  border-left: 1px solid var(--text-color);
  padding-left: 1em;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .article-title_sub {
    font-size: 24px;
  }
}

.top-title {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  font-family: var(--font-noto-sans);
  font-size: 8vw;
  font-weight: 900;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.top-title i {
  display: block;
  font-family: "Romanesco", cursive;
  font-style: normal;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .top-title {
    font-size: 4vmax;
  }
  .top-title i {
    display: inline;
  }
}

.profile main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.8);
  line-height: 1.6;
}
.profile .article-inner {
  max-width: 460px;
}
.profile-list dt {
  float: left;
  clear: left;
  margin-right: 2em;
}
.profile-list dd {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */