@use '../mixins' as *;

// メインビジュアル
.hero {
  background: url(../img/photo-hero.jpg) no-repeat center center / cover;
  max-width: 1300px;
  height: 420px;
  margin: -70px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 10;

  h1 {
    font-size: 31px;
    letter-spacing: .03em;
    margin-top: 0;
    color: rgb(var(--white));
  }

  p {
    font-size: 16px;
    color: rgb(var(--white));
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: .01em;
    margin-top: 0;
  }

  @include mq {
    margin-top: 0;
  }

  @include mq(large) {
    height: 600px;

    h1 {
      font-size: 60px;
      letter-spacing: .05em;
      margin-bottom: .25em;
    }

    p {
      font-size: 24px;
      letter-spacing: .04em;
    }
  }
}

// 紹介
.top-feature {
  text-align: center;

  &_box {
    padding: 0 30px 20px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 0.5em;
  }

  p {
    // text-align: left;
    text-align: start;
  }

  a {
    padding-bottom: 0.2em;
    border-bottom: 2px solid var(--link-color);
    font-size: 18px;
  }

  @include mq {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    background-color: var(--bg-color);
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 50px;

    &:last-of-type {
      flex-direction: row-reverse;
      padding-top: 50px;
      padding-bottom: 80px;
    }

    &_box {
      background-color: rgb(var(--white));
      max-width: 600px;
      padding: 0 60px 30px 40px;
    }

    &:last-of-type &_box {
      padding-right: 40px;
      padding-left: 60px;
    }

    img {
      margin-top: 40px;
      margin-left: -30px;
      max-width: 48vw;
    }

    &:last-of-type img {
      margin-left: 0;
      margin-right: -30px;
      position: relative;
    }

  }

}