@charset 'utf-8';

section {
    background: #ffebf0;
    width: 600px;
    margin: 0 auto;
    padding: 2em;/* 16 x 2 = 32 */
}

h1 {
    /*上0 左右0 下1em*/
    margin: 0 0 1em;
}

img {
    width: 320px;
    margin-left: 1em;
    margin-bottom: 1em;
}

p {
    line-height: 1.8;
    background-color: yellow;
}

img {
    float: right;
    opacity: 0.5;
}

div {
    clear: right;
}

section::after {
    content: "";
    display: block;/*疑似要素はinline性質なのでblockに変更*/
    clear: both;/*float: left / rightどちらも解除可能。 clearはブロックレベル性質のみに適用可*/
}

/* ユーティリティクラス */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}